*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #000000;
}

main{
    height: 100%;
    width: 100%;
    background: rgb(63, 11, 11);
}
